{% extends 'base.html' %}
{% block content %}
<div class="row">
<div class="col-xs-2">Feeds</div>

<div class="question-box col-xs-7">
{% for question in questions %}
	<span class="question-date">Question asked &middot; {{ question.created }}</span>
	<h2 class="question-title"><a href="{{ question.get_absolute_url }}">{{ question.title }}?</a></h2>
	<p class="question-text">{{ question.text | truncatewords:30 }}</p>
	<small class="question-user">by {{ question.user }}</small>
	<br>
	<hr>
{% endfor %}
</div>

<div class="col-xs-3">Trending</div>

</div>
{% endblock %}